* {
    margin: 0;
}

canvas {
    background: #ddd;
}

#picked span {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 3px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font: 8px/50px Arial;
    color: #fff;
}